In [1]:
import os
ROOT = os.path.join('..', '..')
import sys
sys.path.append(ROOT)
#
import numpy as np
import polars as pl
import altair as alt
from tqdm import tqdm

from scripts.data import (
    ml_ratings_df, ml_movies_df, ml_users_df, ml_df, ml_genres,
    bc_ratings_df, bc_books_df, bc_users_df, bc_df,
)
from src.metrics import (
    ml_precision_at_k, ml_recall_at_k, ml_f1_at_k
)
from src.models.simple import ml_popularity_based_recommendation

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

# Train - Test Split

In [2]:
ml_ratings_df = ml_ratings_df.sort("Timestamp")
ml_ratings_df_len = ml_df.select(pl.len()).collect().item()
train_size = int(ml_ratings_df_len * 0.8)
ml_ratings_train_df = ml_df.head(train_size)
ml_ratings_test_df = ml_df.tail(ml_ratings_df_len - train_size)

# User-User Colaborative Filtering

In [3]:
def ml_user_user_colaborative_filtering_recommendation(user_id, n_recommendations=5):
    # Get user
    user = ml_users_df.filter(pl.col("UserID") == user_id)
    # Get similar users
    print(user.collect())

ml_user_user_colaborative_filtering_recommendation(2, 20)

shape: (1, 5)
┌────────┬────────┬─────┬───────────────┬──────────┐
│ UserID ┆ Gender ┆ Age ┆ Occupation    ┆ Zip-code │
│ ---    ┆ ---    ┆ --- ┆ ---           ┆ ---      │
│ i32    ┆ str    ┆ i32 ┆ str           ┆ str      │
╞════════╪════════╪═════╪═══════════════╪══════════╡
│ 2      ┆ M      ┆ 56  ┆ self-employed ┆ 70072    │
└────────┴────────┴─────┴───────────────┴──────────┘

In [4]:
ml_users_df.collect()

shape: (6_040, 5)
┌────────┬────────┬─────┬──────────────────────┬──────────┐
│ UserID ┆ Gender ┆ Age ┆ Occupation           ┆ Zip-code │
│ ---    ┆ ---    ┆ --- ┆ ---                  ┆ ---      │
│ i32    ┆ str    ┆ i32 ┆ str                  ┆ str      │
╞════════╪════════╪═════╪══════════════════════╪══════════╡
│ 1      ┆ F      ┆ 1   ┆ K-12 student         ┆ 48067    │
│ 2      ┆ M      ┆ 56  ┆ self-employed        ┆ 70072    │
│ 3      ┆ M      ┆ 25  ┆ scientist            ┆ 55117    │
│ 4      ┆ M      ┆ 45  ┆ executive/managerial ┆ 02460    │
│ 5      ┆ M      ┆ 25  ┆ writer               ┆ 55455    │
│ …      ┆ …      ┆ …   ┆ …                    ┆ …        │
│ 6036   ┆ F      ┆ 25  ┆ scientist            ┆ 32603    │
│ 6037   ┆ F      ┆ 45  ┆ academic/educator    ┆ 76006    │
│ 6038   ┆ F      ┆ 56  ┆ academic/educator    ┆ 14706    │
│ 6039   ┆ F      ┆ 45  ┆ other                ┆ 01060    │
│ 6040   ┆ M      ┆ 25  ┆ doctor/health care   ┆ 11106    │
└────────┴────────┴─────┴──────────────────────┴──────────┘

In [5]:
ml_users_df.collect()

shape: (6_040, 5)
┌────────┬────────┬─────┬──────────────────────┬──────────┐
│ UserID ┆ Gender ┆ Age ┆ Occupation           ┆ Zip-code │
│ ---    ┆ ---    ┆ --- ┆ ---                  ┆ ---      │
│ i32    ┆ str    ┆ i32 ┆ str                  ┆ str      │
╞════════╪════════╪═════╪══════════════════════╪══════════╡
│ 1      ┆ F      ┆ 1   ┆ K-12 student         ┆ 48067    │
│ 2      ┆ M      ┆ 56  ┆ self-employed        ┆ 70072    │
│ 3      ┆ M      ┆ 25  ┆ scientist            ┆ 55117    │
│ 4      ┆ M      ┆ 45  ┆ executive/managerial ┆ 02460    │
│ 5      ┆ M      ┆ 25  ┆ writer               ┆ 55455    │
│ …      ┆ …      ┆ …   ┆ …                    ┆ …        │
│ 6036   ┆ F      ┆ 25  ┆ scientist            ┆ 32603    │
│ 6037   ┆ F      ┆ 45  ┆ academic/educator    ┆ 76006    │
│ 6038   ┆ F      ┆ 56  ┆ academic/educator    ┆ 14706    │
│ 6039   ┆ F      ┆ 45  ┆ other                ┆ 01060    │
│ 6040   ┆ M      ┆ 25  ┆ doctor/health care   ┆ 11106    │
└────────┴────────┴─────┴──────────────────────┴──────────┘

In [6]:
# d(item, item)
# user: item1, item2, item3

In [7]:
ml_movies_df.collect()

shape: (3_883, 22)
┌─────────┬───────────────┬───────────────┬──────┬───┬──────────┬───────────┬──────────┬───────────┐
│ MovieID ┆ Title         ┆ Genres        ┆ Year ┆ … ┆ IsHorror ┆ IsMystery ┆ IsSci-Fi ┆ IsRomance │
│ ---     ┆ ---           ┆ ---           ┆ ---  ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---       │
│ i32     ┆ str           ┆ list[str]     ┆ i32  ┆   ┆ bool     ┆ bool      ┆ bool     ┆ bool      │
╞═════════╪═══════════════╪═══════════════╪══════╪═══╪══════════╪═══════════╪══════════╪═══════════╡
│ 1       ┆ Toy Story     ┆ ["Animation", ┆ 1995 ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
│         ┆               ┆ "Children's", ┆      ┆   ┆          ┆           ┆          ┆           │
│         ┆               ┆ "C…           ┆      ┆   ┆          ┆           ┆          ┆           │
│ 2       ┆ Jumanji       ┆ ["Adventure", ┆ 1995 ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
│         ┆               ┆ "Children's", ┆      ┆   ┆          ┆           ┆          ┆           │
│         ┆               ┆ "F…           ┆      ┆   ┆          ┆           ┆          ┆           │
│ 3       ┆ Grumpier Old  ┆ ["Comedy",    ┆ 1995 ┆ … ┆ false    ┆ false     ┆ false    ┆ true      │
│         ┆ Men           ┆ "Romance"]    ┆      ┆   ┆          ┆           ┆          ┆           │
│ 4       ┆ Waiting to    ┆ ["Comedy",    ┆ 1995 ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
│         ┆ Exhale        ┆ "Drama"]      ┆      ┆   ┆          ┆           ┆          ┆           │
│ 5       ┆ Father of the ┆ ["Comedy"]    ┆ 1995 ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
│         ┆ Bride Part II ┆               ┆      ┆   ┆          ┆           ┆          ┆           │
│ …       ┆ …             ┆ …             ┆ …    ┆ … ┆ …        ┆ …         ┆ …        ┆ …         │
│ 3948    ┆ Meet the      ┆ ["Comedy"]    ┆ 2000 ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
│         ┆ Parents       ┆               ┆      ┆   ┆          ┆           ┆          ┆           │
│ 3949    ┆ Requiem for a ┆ ["Drama"]     ┆ 2000 ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
│         ┆ Dream         ┆               ┆      ┆   ┆          ┆           ┆          ┆           │
│ 3950    ┆ Tigerland     ┆ ["Drama"]     ┆ 2000 ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
│ 3951    ┆ Two Family    ┆ ["Drama"]     ┆ 2000 ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
│         ┆ House         ┆               ┆      ┆   ┆          ┆           ┆          ┆           │
│ 3952    ┆ Contender     ┆ null          ┆ null ┆ … ┆ false    ┆ false     ┆ false    ┆ false     │
└─────────┴───────────────┴───────────────┴──────┴───┴──────────┴───────────┴──────────┴───────────┘